

.container {
  margin: 0;
  min-height: 5em;
}
.highlight {
  font-family: 'Julius Sans One', sans-serif;
}
.logBtn {
  font-family: 'Julius Sans One', sans-serif;
  border: none;
  background-color: transparent;
  height: auto;
  width: auto;
  margin: 0 .5em;
  padding: 1em 0;
  line-height: normal;
  font-size: 1em;
}
.nav {
  margin: 1em;
  font-size: 1.25em;
}
.navbar {
  border: none;
  border-radius: 0;
  min-height: 5em;
}
.navbar-brand {
  padding: 0;
  min-height: 5em;
}
.navbar-header {
  min-height: 5em;
}
.navbar-default .navbar-nav>li>a {
  color: black;
  padding-left: .25em;
  padding-right: .25em;
  margin: 0 .25em;
}
.navbar-default .navbar-nav>li>a:focus {
  color: rgba(55,131,182,1);
  border-bottom: .25em solid rgba(55,131,182,1);
}
.navbar-default .navbar-nav>li>a:hover {
  color: rgba(82,154,196,1);
  border-bottom: .25em solid rgba(55,131,182,1);
}
.navbar-toggle {
  width: 3em;
  padding: auto;
}
#navlogo {
  height: 100%;
  display: inline-block;
  margin: 0;
  text-align: left;
}
