/* Modernizing the Industry */
.modIndCol {
  min-height: 45em;
}
.modIndHr {
  border-color: rgb(55,131,182);
}
.modIndPic {
  height: 45em;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}
.modIndText {
  padding: 1em;
  font-size: 1.75em;
}

/* We Do The Work So You Don't Have To */
.weDoWorkCol {
  min-height: 45em;
  background-color: rgb(55,131,182);
}
.weDoWorkHr {
  border-color: rgb(181,216,150);
}
.weDoWorkPic {
  min-height: 45em;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}
.weDoWorkText {
  padding: 1em;
  font-size: 1.3em;
}

/* How It Works */
.howitwerksCol {
  height: 45em;
  background-color: rgb(230,230,230);
}
.howitwerksHr {
  border-color: rgb(55,131,182);
}
.howitwerksPic {
  height: 45em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.howitwerksText {
  padding: 1em;
  font-size: 1.5em;
}
