
body {
  background-color: rgba(104,131,191,1);
}
h2 {
  color: white;
}
#topQ {
  margin-left: 5em;
  margin-top: 8em;
  margin-bottom: .75em;
}
#bottomQ {
  text-align: right;
  margin-right: 8em;
}
