
body {
  background-color: white;
  min-height: 100%;
  margin-bottom: 5em;
}
h1, h2, h4, h5, h6, p {
  font-family: 'Julius Sans One', sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  color: white;
}
h3 {
  font-family: 'Pathway Gothic One', sans-serif;
}
main {
  min-height: 100%;

}
.sbRug {

}
#body {
  margin-bottom: 10em;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#topQ {
  margin-left: 5em;
  margin-top: 5em;
  margin-bottom: .75em;
}
#bottomQ {
  text-align: right;
  margin-right: 8em;
}
