@media screen and (min-width: 1166px) {

}

.test {
  position: fixed;
  top: 2em;
  right: 2em;
  font-size: 3em;
  background-color: black;
  color: white;
}
.mainContainer {
  padding: 3em;
  text-align: center;

}
.mainHeader {
  margin: 0;
  font-size: 7em;
  color: black;
  padding: .25em;
  display: inline-block;
  margin: auto;
}
.openingSection {
  background-image: url('https://res.cloudinary.com/wander-outdoor/image/upload/v1529539187/Wander/IMG_8208.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  height: 50em;
  overflow: scroll;
}
.picSecOne {
  min-height: 30em;
  width: 100%;
  background-image: url("https://res.cloudinary.com/wander-outdoor/image/upload/v1531256806/Wander/IMG_4518.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}
.picSecTwo {
  min-height: 30em;
  width: 100%;
  background-image: url("https://res.cloudinary.com/wander-outdoor/image/upload/v1529538806/Wander/heidiClimb.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.picSecThree {
  min-height: 30em;
  width: 100%;
  background-image: url("https://res.cloudinary.com/wander-outdoor/image/upload/v1529539200/Wander/DSC_0963.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.picSecFour {
  min-height: 30em;
  width: 100%;
  background-image: url("https://res.cloudinary.com/wander-outdoor/image/upload/v1529538889/Wander/hangingGear.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
}
