.allFields {
  display: none;
}
.missingField {
  visibility: visible;
}
.sidePic {
  background-image: url('https://res.cloudinary.com/wander-outdoor/image/upload/c_scale,q_60,w_1600/v1528178377/vk15dtmsuvr6l1ydzhq9.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@media screen and (min-width: 993px) {
  .sizeControl {
    width: 65%;
  }
}
@media screen and (max-width: 992px) {
  .sizeControl {
    width: 100%;
  }
}
