
h4 {
  margin: 1em 3em;
}
.epSaveBtn {
  width: 5em;
  height: 3em;
  margin-bottom: 2em;
}
.profPic {
  height: 25em;
  width: 25em;
  border: solid 10px rgba(0,0,0,.7);
}
.textArea {
  width: 75%;
}
.uploadWidget {
  width: 15em;
  height: 4em;
  margin: 1em 0;
}
