
p {
  font-family: 'Josefin Sans', sans-serif;
}
ul {
  display: inline-flex;
  flex-wrap: wrap;
}
.css-1pa5up3 {
  margin: auto;
}
.guideUl {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 1em;
}
.list {
  list-style: none;
  width: 100%;

}
.thumbox {
  box-shadow: 1px 1px 15px 1px rgb(70,70,70);
  margin-bottom: 2em;
  margin-top: 0;
}
