
p {
  font-family: 'Josefin Sans', sans-serif;
}
ul {
  display: inline-flex;
  flex-wrap: wrap;
}
.css-1pa5up3 {
  margin: auto;
}
.guideUl {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 1em;
}
.list {
  list-style: none;
  width: 100%;

}
.thumbox {
  box-shadow: 3px 3px 15px 3px rgb(100,100,100);
}
