
p {
  font-family: 'Josefin Sans', sans-serif;
}
ul {
  display: inline-flex;
  flex-wrap: wrap;
}
.boxOfCards {
  padding-bottom: 5em;
}
.caption {
  margin-left: 1em;
}
.css-1pa5up3 {
  margin: auto;
}
.guideUl {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 1em;
}
.list {
  list-style: none;
  width: 100%;

}
.thumbnail .caption {
  margin: auto 0;
  position: absolute;
  bottom: 5em;
}
.thumbnail>img {
  max-height: 11em;
}
.thumbox {
  box-shadow: 1px 1px 15px 1px rgb(70,70,70);
  margin-bottom: 2em;
  margin-top: 0;
  height: 25em;
  background-color: #1B2531;
  color: #3783B6;
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
}
