
.filterBtn {
  padding: .25em;
}
.filterBtn:hover {
  background-color: rgba(55,131,182,1);
}
.filterTabs {
  display: block;
  margin: 0;
  width: 100%;
}
.filterUl {
  padding: 0;
}
.partition {
  padding: .25em 0 .25em 1em;
  margin-left: 1em;
}
