
a:hover {
  text-decoration: none;
}
.btnText {
  border: none;
  border-color: rgba(11,143,112,1);
  padding: 1em;
  color: rgba(11,143,112,1);
  font-size: 1.35em;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  justify-content: center;
}
.compBtn {
  background-image: url('../../Images/BackgroundImages/choppa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.funnelBtn {
  width: 100%;
  height: 50vh;
  border: solid 0em rgba(11,143,112,1);
  box-shadow: 1px 1px 10px black;
}
.funnelBtn:hover {
  transform: translateY(-.5em);
}
.guideBtn {
  background-image: url('../../Images/BackgroundImages/hangingGear.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pCenter {
  margin: 3em auto;
  text-align: center;
}
.travBtn {
  background-image: url('../../Images/BackgroundImages/canyonRun.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
