
.basicInfo2 {
  margin: .5em 1em;
  display: block;
}
.basicInfo4 {
  margin: .5em 2em;
  display: block;
}
.bio {
  padding: 0 3em;
  text-align: left;
}
.cardBreak {
  text-align: center;
  border-color: black;
  margin: 2em 3em;
}
.contain {
  margin: 1em;
  overflow: hidden;
}
.listCheck {
  display: block;
  margin: .5em;
  list-style: circle;
  font-size: 1.25em;
}
.mainCard {
  margin: 2em 0;
  background-color: rgba(215,215,215,1);
  padding: 1em;
}
.proPic {
  max-width: 20em;
  max-height: 20em;
  height: 20em;
  width: 20em;
}
